.signature-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signatures-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns layout */
    gap: 20px; /* Space between the signature cards */
    padding: 20px;
    min-height: fit-content;
    margin: 10px 20px;
    width: 75vw;
  }
  
  .signature-card {
    background-color: #204675; /* Card background: blue */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow */
    padding: 30px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff; /* White text color */
    font-family: Arial, sans-serif; /* Font style */
  }

  .signature-card-container {
    width: 100%;
  }
  
  .signature-card .signature {
    width: 100%;
    height: auto;
    /* background-color: #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 5px; */
    box-sizing: border-box;
  }
  
  .signature-card .signature img {
    width: 80%; /* Make sure the signature fits inside */
    height: auto;
  }
  
  .signature-card .name {
    margin: 10px 0;
    height: auto;
    width: 75%;
    font-size: 12px;
  }

  .signature-card .name-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    font-size: 16px;
  }
  
  .name {
    color: #586C85;
    margin: 10px 0px;
  }

  .name-container > hr {
    width: 100%;;
  }

  .name-value {
    width: 100%;
    color: #ffffff;
  }

  .name-value > input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    color: #586C85;
    font-size: 14px;
  }

  .action-buttons-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: space-between;
    margin: 10px 10px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  
  .action-buttons{
    background-color: #1d2a3b;
    color: white;
    border: none;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
    width: fit-content;
  }
  
  .required {
    color: red;
  }
  